
    <div class="site-wrapper">
        <div class="main-overlay"></div>
        <!-- section starts  -->
        <section id="hero">
            <div class="container-xl">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <ng-container *ngFor="let headline of headline">
                        <div class="post featured-post-lg">
                            <div class="details clearfix">
                                <a href="#" class="category-badge">Sport</a>
                                <h2 class="post-title">
                                    <a href="#">{{headline.title}}</a>
                                </h2>
                                <ul class="meta list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#">{{headline.author}}</a>
                                    </li>
                                    <li class="list-inline-item">{{headline.publishedAt}}</li>
                                </ul>
                            </div>
                            <a href="#">
                                <div class="thumb rounded">
                                    <div class="inner data-bg-image" style="background-image: url({{headline.urlToImage}});">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                    </div>
                    <div class="col-lg-4">
                        <div class="post-tabs rounded bordered">
                            <ul class="nav nav-tabs nav-pills nav-fill" id="postTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button aria-controls="popular" aria-selected="true" class="nav-link active"
                                        data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab"
                                        type="button">
                                        Popular
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button aria-controls="recent" aria-selected="false" class="nav-link"
                                        data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab"
                                        type="button">
                                        Recent
                                    </button>
                                </li>

                            </ul>

                            <!-- content  -->
                            <div class="tab-content" id="postsTabContent">
                                <!-- loader -->
                                <div class="lds-dual-ring"></div>
                                <!-- pop post  -->

                                <div class="tab-pane fade show active" id="popular" aria-labelledby="popular-tab"
                                    role="tabpanel">
                                    <!-- post  -->
                                    <ng-container *ngFor="let news of news">
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">{{news.title}}</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{news.publishedAt}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                                </div>

                                <!-- recent  -->
                                <div class="tab-pane fade" id="recent" aria-labelledby="recent-tab" role="tabpanel" >
                                    <!-- post  -->
                                    <ng-container *ngFor="let news2 of news2">
                                        <div class="post post-list-sm circle">
                                            <div class="thumb circle">
                                                <a href="#">
                                                    <div class="inner">
                                                        <img src="{{news2.urlToImage}}" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="details clearfix">
                                                <h6 class="post-title my-0">
                                                    <a href="#">{{news2.title}}</a>
                                                </h6>
                                                <ul class="meta list-inline mt-1 mb-0">
                                                    <li class="list-inline-item">{{news2.publishedAt}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>

        <!-- main content  -->

        <section class="main-content">
            <div class="container-xl">
                <div class="row gy-4">

                    <!-- left part 1st section  -->
                    <div class="col-lg-8" id="editor">
                        <div class="section-header">
                            <h3 class="section-title">Editor's Pick</h3>
                        </div>

                        <div class="padding-30 rounded bordered">
                            <div class="row gy-5">
                                <div class="col-sm-6">
                                    <!-- post  -->
                                    <ng-container *ngFor="let headline2 of headline2">
                                    <div class="post">
                                        <div class="thumb rounded">
                                            <a href="#" class="category-badge position-absolute">Entertainment</a>
                                            <span class="post-format">
                                                <i class="icon-picture"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{headline2.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img class="author" src="assets/images/other/author-sm.jpg" alt="">
                                                    {{headline2.author}}
                                                </a>
                                            </li>
                                            <li class="list-inline-item">{{headline2.publishedAt}}</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3">
                                            <a href="#">{{headline2.title}}</a>
                                        </h5>
                                        <p class="excerpt mb-0">
                                            {{headline2.content | slice:0:80 }}......
                                        </p>
                                    </div>
                                    </ng-container>
                                </div>
                                <div class="col-sm-6">
                                    <ng-container *ngFor="let news3 of news3">
                                    <div class="post post-list-sm square">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news3.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">
                                                    {{news3.title}}
                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{news3.publishedAt}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                                </div>

                            </div>
                        </div>

                        <div class="spacer" data-height="50"></div>

                        <div class="section-header" id="trending">
                            <h3 class="section-title">Trending</h3>
                        </div>

                        <div class="padding-30 rounded bordered">
                            <div class="row gy-5">
                                <div class="col-sm-6">
                                    <ng-container *ngFor="let headline3 of headline3">
                                    <div class="post">
                                        <div class="thumb rounded">
                                            <a href="#" class="category-badge position-absolute">Health</a>
                                            <span class="post-format">
                                                <i class="icon-picture"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{headline3.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img src="assets/images/other/author-sm.jpg" class="author" alt="">
                                                    {{headline3.author}}
                                                </a>
                                            </li>
                                            <li class="list-inline-item">{{headline3.publishedAt | slice:0:10}}</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3">
                                            <a href="#">{{headline3.title}}</a>
                                        </h5>
                                        <p class="excerpt mb-0">
                                            {{headline3.content | slice:0:90}}.....
                                        </p>
                                    </div>
                                </ng-container>
                                <ng-container *ngFor="let news4 of news4">
                                    <div class="post post-list-sm square before-seperator">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news4.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">{{news4.title}}</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{news4.publishedAt | slice:0:10}} </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                                </div>

                                <div class="col-sm-6">
                                    <ng-container *ngFor="let headline4 of headline4">
                                    <div class="post">
                                        <div class="thumb rounded">
                                            <a href="#" class="category-badge position-absolute">Technology</a>
                                            <span class="post-format">
                                                <i class="icon-earphones"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{headline4.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img src="assets/images/other/author-sm.jpg" class="author" alt="">
                                                    {{headline4.author}}
                                                </a>
                                            </li>
                                            <li class="list-inline-item">{{headline4.publishedAt | slice:0:10}}</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3">
                                            <a href="#">{{headline4.title}}</a>
                                        </h5>
                                        <p class="excerpt mb-0">
                                            {{headline4.content | slice:0:90}}.....
                                        </p>
                                    </div>
                                </ng-container>
                                <ng-container *ngFor="let news5 of news5">
                                    <div class="post post-list-sm square before-seperator">
                                        <div class="thumb rounded">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news5.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">{{news5.title}}</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{news5.publishedAt | slice:0:10}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="spacer" data-height="50"></div>

                        <div class="section-header"  id="inspiration">
                            <h3 class="section-title">Inspiration</h3>
                            <div class="slick-arrows-top">
                                <button class="carousel-topNav-prev slick-custom-buttons" type="button"
                                    data-role="none" aria-label="Previous">
                                    <i class="icon-arrow-left"></i>
                                </button>
                                <button class="carousel-topNav-next slick-custom-buttons" type="button"
                                    data-role="none" aria-label="Next">
                                    <i class="icon-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row post-carousel-twoCol post-carousel">
                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <a href="#" class="category-badge">General</a>
                                    <h4 class="post-title">
                                        <a href="#">{{news6[0].title | slice:0:10}}....</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">{{news6[0].author}}</a>
                                        </li>
                                        <li class="list-inline-item">{{news6[0].publishedAt}}</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{{news6[0].urlToImage}}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <a href="#" class="category-badge">General</a>
                                    <h4 class="post-title">
                                        <a href="#">{{news6[1].title | slice:0:10}}....</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">{{news6[1].author}}</a>
                                        </li>
                                        <li class="list-inline-item">{{news6[1].publishedAt}}</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{{news6[1].urlToImage}}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="post post-over-content col-md-6">
                                <div class="details clearfix">
                                    <a href="#" class="category-badge">General</a>
                                    <h4 class="post-title">
                                        <a href="#">{{news6[2].title | slice:0:10}}.....</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#">{{news6[2].author}}</a>
                                        </li>
                                        <li class="list-inline-item">{{news6[2].publishedAt}}</li>
                                    </ul>
                                </div>
                                <a href="#">
                                    <div class="thumb rounded">
                                        <div class="inner">
                                            <img src="{{news6[2].urlToImage}}" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="spacer" data-height="50"></div>

                        <div class="section-header" id="latest">
                            <h3 class="section-title">Latest Posts</h3>
                        </div>

                        <div class="padding-30 rounded bordered">
                            <div class="row">
                                <ng-container *ngFor="let news7 of news7">
                                <div class="col-md-12 col-sm-6">
                                    <!-- post  -->
                                    <div class="post post-list clearfix">
                                        <div class="thumb rounded">
                                            <span class="post-format-sm">
                                                <i class="icon-picture"></i>
                                            </span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news7.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details">
                                            <ul class="meta list-inline mb-3">
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <img src="assets/images/other/author-sm.jpg" class="author" alt="">
                                                        {{news7.author}}
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">Trending</a>
                                                </li>
                                                <li class="list-inline-item">{{news7.publishedAt | slice:0:10}}</li>
                                            </ul>
                                            <h5 class="post-title">
                                                <a href="#">
                                                    {{news7.title}}
                                                </a>
                                            </h5>
                                            <p class="excerpt mb-0">
                                                {{news7.description}}
                                            </p>
                                            <div class="post-bottom clearfix d-flex align-items-center">
                                                <div class="social-share me-auto">
                                                    <button class="toggle-button icon-share"></button>
                                                    <ul class="icons list-unstyled list-inline mb-0">
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fab fa-telegram-plane"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="far fa-envelope"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end">
                                                    <a href="#"><span class="icon-options"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                                <div class="text-center">
                                    <button class="btn btn-simple">Load More</button>
                                </div>
                            </div>
                        </div>
                        <!-- left part over here  -->
                    </div>
                    <!-- right part starts from here  -->

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="" alt="" class="logo">
                                    <p class="mb-4" style="text-align: justify;">Headline Pages is a news and blog
                                        website for you. We provide latest news and great blogs for you to read. Our 
                                        creators and journalists has already been verivied, so we can sure you that we
                                        don't spread hoax into society. Go read your Headline Pages and BE UP TO DATE!</p>
                                    <ul class="social-icons list-unstyled list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-telegram-plane"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="far fa-envelope"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Popular Posts</h3>
                                </div>
                                <div class="widget-content">
                                    <ng-container *ngFor="let news of news">
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <span class="number">1</span>
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="{{news.urlToImage}}" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">{{news.title}}</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">{{news.publishedAt}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                                </div>
                            </div>

                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Explore Topics</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Sport</a><span>(7)</span></li>
                                        <li><a href="#">Bussiness</a><span>(5)</span></li>
                                        <li><a href="#">Technology</a><span>(1)</span></li>
                                        <li><a href="#">General</a><span>(9)</span></li>
                                        <li><a href="#">Health</a><span>(2)</span></li>
                                        <li><a href="#">Entertaiment</a><span>(4)</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Newsletter</h3>
                                </div>
                                <div class="widget-content">
                                    <span class="newsletter-headline text-center mb-3">Join 50,000 subscribers</span>
                                    <form action="#">
                                        <div class="mb-2">
                                            <input type="email" class="form-control w-100 text-center"
                                                placeholder="Email address...">
                                        </div>
                                        <button class="btn btn-default btn-full">Sign Up</button>

                                    </form>
                                    <span class="newsletter-privacy text-center mt-3">
                                        By signing up, you agree to our <a href="#">Privacy policy</a>
                                    </span>
                                </div>
                            </div>

                            <div class="widget rounded">
                                <div class="widget-header text-center" id="popular">
                                    <h3 class="widget-title">Bussiness</h3>
                                </div>
                                <div class="widget-content">
                                    <div class="post-carousel-widget">
                                        <ng-container *ngFor="let news2 of news2">
                                        <div class="post post-carousel">
                                            <div class="thumb rounded">
                                                <a href="#" class="category-badge position-absolute">Bussiness</a>
                                                <a href="#">
                                                    <div class="inner">
                                                        <img src="{{news2.urlToImage}}" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <h5 class="post-title mb-0 mt-4">
                                                <a href="#">{{news2.title}}</a>
                                            </h5>
                                            <ul class="meta list-inline mt-2 mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#">{{news2.author}}</a>
                                                </li>
                                                <li class="list-inline-item">{{news2.publishedAt | slice:0:10}}</li>
                                            </ul>
                                        </div>
                                        </ng-container>
                                    </div>
                                    <div class="slick-arrows-bot">
                                        <button class="carousel-botNav-prev slick-custom-buttons" type="button"
                                            data-role="none" aria-label="Previous">
                                            <i class="icon-arrow-left"></i>
                                        </button>
                                        <button class="carousel-botNav-next slick-custom-buttons" type="button"
                                            data-role="none" aria-label="Next">
                                            <i class="icon-arrow-right"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>


                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title">Tag Clouds</h3>
                                </div>
                                <div class="widget-content">
                                    <a href="#" class="tag">#Trending</a>
                                    <a href="#" class="tag">#Cooking</a>
                                    <a href="#" class="tag">#Featured</a>
                                    <a href="#" class="tag">#Beauty</a>
                                    <a href="#" class="tag">#Finance</a>
                                    <a href="#" class="tag">#Celebrities</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="instagram">
            <div class="container-xl">
                <a href="#" class="btn btn-default btn-instagram">@Kelompok3</a>
                <div class="instagram-feed d-flex flex-wrap">
                    <div class="insta-item col-sm-2 col-6 col-md-2">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container-xl">
                <div class="footer-inner">
                    <div class="row d-flex align-items-center gy-4">
                        <div class="col-md-4">
                            <span class="copyright">&copy; Kelompok3</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <ul class="social-icons list-unstyled list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-itunes"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a href="#" id="return-to-top" class="float-md-end">
                                <i class="icon-arrow-up"></i>
                                Back to Top
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>













