:root {
  --primary: #6a3093;
}

body {
  color: #8f9bad;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
